 
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
  }

  .signupbtn {
    background-color: blue;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  .banner {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:500px;
    height:auto
  }
