.content {
  max-width: 960px;
  margin:auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blueviolet;
  color: white;
  text-align: center;
}
/* sticky navbar container with black */
ul.navbar {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
/* white borders */ 
ul.navbar li {
    float: left;
    border-right: 1px solid #bbb;
  }
/* white text that is center aligned, suitable padding, in a block */
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* black when hovering over */
ul.navbar li a:hover {
    background-color: #111;
}
/* blue when active */
ul.navbar li a.active {
    background-color: blueviolet;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



