.content {
  max-width: 70%;
  margin:auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #21a6cb;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* sticky navbar container with black */
ul.navbar {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
/* white borders */ 
ul.navbar li {
    float: left;
  }
/* white text that is center aligned, suitable padding, in a block */
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* black when hovering over */
ul.navbar li a:hover {
    background-color: #111;
}
/* blue when active */
ul.navbar li a.active {
    background-color: #21a6cb;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: auto;
  padding: 10px
}

body {
  background-color: lightblue;
}



